body {
    margin: 0;
    padding: 0;
    background: #000;
}

p {
    
    font-size: 10px;
    line-height: 10px;
    text-align: justify;
    background: url(bg.jpg) no-repeat center fixed;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
